@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #2EE59D;
}

body {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-attachment: fixed;
}

.title {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-size: 1.1rem;
    opacity: 0;
}

.title.active {
    opacity: 1;
    transition: all 3s;
}

section {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: visible;
    z-index: 1;
}

section:last-of-type {
    margin-bottom: 40vh;
}

.img-wrap {
    position: relative;
    top: 40%;
    height: 40%;
    width: 1px;
    overflow: hidden;
    opacity: 0;
}

.img-wrap.active {
    width: 40vw;
    opacity: 1;
    transition: opacity 1s, width 2s;
}

.img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40vw;
    height: 100%;
    background-size: cover;
    background-position: center;
    transform: scale(1.6);
    border-radius: 20px;
}

.img-wrap.active > .img {
    transform: scale(1);
    transition: 1s ease-out;
}

h2 {
    position: absolute;
    font-size: 2.3rem;
    top: 70%;
    z-index: 2;
    letter-spacing: 2px;
    opacity: 0;
    transition: all 0.2s;
}

h2.active {
    opacity: 1;
    transition: opacity 3s;
}